{% extends 'base.html.twig' %}

{% block title %}FutureUser index{% endblock %}

{% block body %}
    <h1>FutureUser index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Lastname</th>
                <th>Firstname</th>
                <th>Phone</th>
                <th>Nationality</th>
                <th>IsValided</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for future_user in future_users %}
            <tr>
                <td>{{ future_user.id }}</td>
                <td>{{ future_user.email }}</td>
                <td>{{ future_user.lastname }}</td>
                <td>{{ future_user.firstname }}</td>
                <td>{{ future_user.phone }}</td>
                <td>{{ future_user.nationality }}</td>
                <td>{{ future_user.isValided ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_future_user_show', {'id': future_user.id}) }}">show</a>
                    <a href="{{ path('app_future_user_edit', {'id': future_user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_future_user_new') }}">Create new</a>
{% endblock %}
